<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter1" id="butn">
        Update Restaurant
    </button>


<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLongTitle">Update Restaurant</div>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><mat-icon>close</mat-icon></span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="registrationForm">
                    <mat-form-field appearance="outline">
                        <mat-label>restaurant Name</mat-label>
                        <input type="text" matInput type="restaurantName" formControlName="restaurantName"
                            id="restaurantName">
                        
                            <mat-error *ngIf="registrationForm.controls['restaurantName'].hasError('required')">
                                restaurantName is <strong>required</strong>
                            </mat-error>
                        

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="move">
                        <mat-label>City</mat-label>
                        <input type="text" matInput type="city" formControlName="city" id="city">
                       
                            <mat-error *ngIf="registrationForm.controls['city'].hasError('required')">
                                city is <strong>required</strong>
                            </mat-error>
                       
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full">
                        <mat-label>description</mat-label>
                        <textarea matInput type="description" formControlName="description" id="description"></textarea>
                        
                            <mat-error *ngIf="registrationForm.controls['description'].hasError('required')">
                                description is <strong>required</strong>
                            </mat-error>
                       
                    </mat-form-field>

                    <div>
                        <p style="color: red;">*Image is Mandatory </p>
                        <input type="file" (change)="onFileSelect($event)">

                    </div>



                    <br> <br>

                    <div id="buton">
                        <button class="button1" mat-button mat-raised-button type="reset">Reset</button>
                        <button class="button1" (click)="func1(registrationForm)" mat-button mat-raised-button color="primary" data-bs-dismiss="modal" aria-label="Close" type="reset">Submit</button>
                    </div>

                    
                </form>

            </div>
        </div>
    </div>

</div> -->
<mat-card>
    <mat-card-content>
        <div class="modal-title" id="exampleModalLongTitle">UPDATE RESTAURANT</div> <br>
        <form [formGroup]="registrationForm">
            <mat-form-field appearance="outline">
                <mat-label>restaurant Name</mat-label>
                <input type="text" matInput type="restaurantName" formControlName="restaurantName" id="restaurantName">

                <mat-error *ngIf="registrationForm.controls['restaurantName'].hasError('required')">
                    restaurantName is <strong>required</strong>
                </mat-error>


            </mat-form-field>

            <mat-form-field appearance="outline" class="move">
                <mat-label>City</mat-label>
                <input type="text" matInput type="city" formControlName="city" id="city">

                <mat-error *ngIf="registrationForm.controls['city'].hasError('required')">
                    city is <strong>required</strong>
                </mat-error>

            </mat-form-field>

            <mat-form-field appearance="outline" class="full">
                <mat-label>description</mat-label>
                <textarea matInput type="description" formControlName="description" id="description"></textarea>

                <mat-error *ngIf="registrationForm.controls['description'].hasError('required')">
                    description is <strong>required</strong>
                </mat-error>

            </mat-form-field>

            <div>
                <p style="color: red;">*Image is Mandatory </p>
                <input type="file" (change)="onFileSelect($event)">
            </div>



            <br> <br>
            
            <div id="buton">
                <button class="button1" mat-button mat-raised-button type="reset">Reset</button>
                <button class="button1" (click)="func1(registrationForm)" mat-button mat-raised-button color="primary"
                    type="reset">Submit</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>