// mat-form-field{
//     display: block;
// }

// #buton{
//     text-align: center;
// }

// .modal-title{
//     text-align: center;
//     font-size: larger;
//     font-weight: bold;
// }
// .button1{
//     margin: 0px 10px;
// }
#buton{
    text-align: center;
}

.modal-title{
    
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.button1{
    margin: 0px 10px;
}


mat-card{
    max-width: 500px;
    margin: 10em auto;
    max-height: 600px ;
    padding: 10px;
}
mat-form-field{
    display: block;
}


